{% extends 'base.html' %}

{% block title %}删除厂商确认{% endblock %}

{% block page_header %}删除厂商确认{% endblock %}

{% block optional_description %}删除厂商确认{% endblock %}

{% block breadcrumb %}
    <li><a href="#">资产管理</a></li>
    <li><a href="{% url 'asset-server_product-list' %}">经销商管理</a></li>
    <li class="active">删除经销商</li>
{% endblock %}

{% block page_content %}
<form action="" method="post">{% csrf_token %}
    <p>你确定要删除 "{{ object }}" 吗?操作将同时删除与经销商外键关联的所有数据.</p>
    <input type="submit" class="btn btn-danger btn-xs" value="确认删除" />
</form>
{% endblock %}