{% extends 'base_table.html' %}

{% block title %}用户组{% endblock %}

{% block page_header %}用户组管理{% endblock %}

{% block optional_description %}CMDB平台用户组列表{% endblock %}

{% block breadcrumb %}
    <li><a href="#">用户&权限管理</a></li>
    <li class="active">用户组</li>
{% endblock %}

{% block box-title %}用户组列表{% endblock %}

{% block box-tools %}
    <a type="button" class="btn btn-success btn-flat btn-sm" href="{% url 'myauth-group-creation' %}"><i class="fa fa-plus"></i> 新建用户组</a>
{% endblock %}

{% block thead-tr-th %}
    <th>ID</th>
    <th>用户组名称</th>
    <th>操作</th>
{% endblock %}

{% block tbody-tr-td %}
    <td>{{ object.id }}</td>
    <td>{{ object.name }}</td>
    <td>
        <a title="编辑" id="edit_{{ object.id }}" class="btn btn-success btn-xs {% if not perms.auth.change_group %}disabled{% endif %}" role="button" href="{% url 'myauth-group-update' object.id %}">
            <i class="fa fa-edit fa-fw"></i>编辑
        </a>
        <a title="删除" id="del_{{ object.id }}" class="btn btn-danger btn-xs {% if not perms.auth.del_group %}disabled{% endif %}" role="button" href="{% url 'myauth-group-deletion' object.id %}">
            <i class="fa fa-trash-o fa-fw"></i>删除
        </a>
    </td>
{% endblock %}

{% block orderable-false-targets %}2, 3{% endblock %}

