{% extends 'myauth/user_password_update.html' %}

{% block custom_input %}
    <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
        {% if form.password1.errors %} {# 判断表单域的 errors 属性是否为非空列表 #}
            <div class="callout callout-danger">
                {{ form.password1.errors }}
            </div>
        {% endif %}
        {{ form.password1 }}
        {% if form.password1.help_text %}
            <p class="help-block">{{ form.password1.help_text|safe }}</p>
        {% endif %}
    </div>
    <hr />
    <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
        {% if form.password2.errors %} {# 判断表单域的 errors 属性是否为非空列表 #}
            <div class="callout callout-danger">
                {{ form.password2.errors }}
            </div>
        {% endif %}
        {{ form.password2 }}
        {% if form.password2.help_text %}
            <p class="help-block">{{ form.password2.help_text|safe }}</p>
        {% endif %}
    </div>
    <hr />
{% endblock %}