<header class="main-header">
  <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>YD</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>一点资讯</b> CMDB</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-fw fa-user"></i>
                    {{ user.job_number }} {{ user.last_name }}{{ user.first_name }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'myauth-current_user-dashboard' %}">用户详情</a></li>
                    <li><a href="{% url 'myauth-user-logout' %}">登出系统</a></li>
                </ul>
            </li>
        </ul>
    </div>
  </nav>
</header>
